body{
background-image:url(fundo.jpg);
width: px;
height: 1100px;
margin: 100px;
margin-top: 10px;
}

#texto{

    color: white;
    font-size: 28px;
    text-align: center;
    margin-top: 25vh;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

#logo{
    
    width: 200px;
    height: 100px;
    
}
#texto2{
    text-align: center;
    color: white;
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.botao{
    float: right;
    margin-top: -60px;
    border-radius: 5px;
    font-size: 13px;
    border: none;
    padding: 10px 15px;
    background-color: red;
    color: white;
    
}



textarea {
padding: 10px;
max-width: 100%;
line-height: 1.5;
border-radius: 5px;
border: 1px solid #ccc;
box-shadow: 1px 1px 1px #999;
font-size: 0.8rem;
letter-spacing: 1px;
}

#dropdown{
    background: none;
    color: white;
    border-radius: 8px;
    padding: 10px 15px;
    float: right;
    margin-top: -60px;
    border-radius: 5px;
    font-size: 13px;
    margin-right: 90px;

}

input{
  margin-left:  330px;
  border-radius: 5px;
  border-color: white;
  background-color: gray;
  opacity: 50%;
  color: white;
  font-size: 30px;
  padding: 10px 10px;
}

.botaoo{
    float: center;
    margin-left: 20px;
    border-radius: 5px;
    font-size: 23px;
    border: none;
    padding: 15px 25px;
    background-color: red;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    
}
